body {
    background-color: #eeeeee;
    padding-left: 1em;
    padding-right: 1em;
}

h1  {
    font-size:40px;
    font-weight: bold;
}

h2  {
    font-size:30px;
}

h1 a {
    color: #bb8800;
}

dt {
    font-weight: bold;
}

dd {
    display: list-item;
    list-style-type: square;
}

.flashes {
    text-align: center;
    font-size: 130%;
}

.cervena {
    color:red;
}

.zelena {
    color:lime;
}

.oranzova {
    color:orange;
}

.jmeno {
    float:right;
    width:200px;
    border:solid purple 3px;
    padding:5px;
}

.hlmenu li {
    display: inline-block;
    border:solid purple 3px;
    padding:5px;
    background-color: #66CC00;
}


footer {
    padding: 0.1ex 2em;
    margin-top: 2em;
    border-top: solid 2px #facc15;
    background-color: #ccffcc;
}
